<%- partial('_partial/head') %>
<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <div class="row">
			<div class="col-md-3">
				<div align="center">
					<img src="<%- gravatar('jesslyn.campbell@gmail.com', 200) %>" class="img-rounded" alt="avatar" />
				</div>
				<h4>About me:</h4>
				<p>I am a .Net developer by day and a bookworm by night. My wife, Collin, is a starving artist and is designing a board game. We have two cats named Katy and Lottie, they're tuxedo cats so they are always dressed for formal affairs.</p>
				<p class="text-warning">Sorry, I am not for hire.</p>
				<span><a href="<%- config.root %><%- config.feed.path %>"><%- image_tag("img/rss/rss_16x16.png", {alt: "rss", style: "vertical-align: text-bottom;"}) %> RSS feed</a></span>
			</div>
			<div class="col-md-9">
				<%- body %>
			</div>
		</div>
  </div>
</body>
</html>
