<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'article-title'}) %>
          <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        </header>
      <% } %>
      <div class="article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
          <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>
    </div>
    <div class="panel-footer" style="text-align:right;">
  		<%- partial('post/tag') %>
  	</div>
  </div>
  <% if (!index){ %>
    <%- partial('post/comment') %>
    <p>not an index</p>
  <% } %>
</article>
